 .heading {
            font-size: 43px;
            color: aquamarine;
            border: 5px solid red;
        }

        .para {
            font-size: 24px;
            color: white;
            background-color: black;
            border: 5px solid green;
        }

        #para2{
            font-size: 24px;
            background-color: yellow;
            font-weight: bold;
            color: red; 
        }