body{
    border: 3px solid black;
    padding: 5px;
}
.padding{
    padding: 100px 20px;
    border: 2px solid black;
}
.margin{
    border: 2px solid black;
    width: 100%;
    margin: auto;
}

/* Text CSS */
h1{
    text-align: center;
}
p{
    color : #1d961f;
    text-align: justify;
    text-align-last: center;
    text-indent: 70px;
    /* letter-spacing: 5px; */
    /* line-height:  10px; */
    /* word-spacing:  10px; */
}

a{
    text-decoration: none;
    color: rgb(12, 14, 13);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    position: right;
}

/* Display In CSS */
 .description{
    display: inline-block;
    width: 100%;
    color: red;
}

.description2{
    display: block;
    color: #1d961f;
}
/*  This is to note that in general the view of elements in the HTML document is either INLINE or is BLOCK LEVEL ELEMENT */

/* Height and Width formation in an element */

.width{
    /* min-width: 150px; */
    width: 150px;
    border: 2px solid yellow;
    background-color: grey;
    color: black;
}

.height{
    height: 150px;
    /* min-height: auto; */
    border: 2px solid yellow;
    background-color: grey;
    color: black;
}