@media (max-width: 600px) {

    /* If viewport is at least 900px then we would apply this style
    else the above style would be applied */
    body {
        background-color: purple;
    }

    div::after{
        content: "Chembur ka cheetah-Phone wala";
    }
}
@media (min-width: 600px) {

    /* If viewport is at least 900px then we would apply this style
    else the above style would be applied */
    body {
        background-color: purple;
    }

    div::after{
        content: "Vadala ka wolf-Bade Phone Wala";
    }
}
@media (min-width: 768px) {

    /* If viewport is at least 900px then we would apply this style
    else the above style would be applied */
    body {
        background-color: purple;
    }

    div::after{
        content: "Thane ka Tiger - Tablet wala";
    }
}
@media (min-width: 900px) {

    /* If viewport is at least 900px then we would apply this style
    else the above style would be applied */
    body {
        background-color: purple;
    }

    div::after{
        content: "Mumbai ka  Raja - Laptops wala";
    }
}

/* Now we are writing certain media queries */
@media (min-width: 1200px) {

    /* If viewport is at least 900px then we would apply this style
    else the above style would be applied */
    body {
        background-color: aquamarine;
    }

    div::after{
        content: "Chamtkaar ko namaskaar - Extra large laptop wala";
    }
}


body{
    background-color: red;
}

div{
    font-size: x-large;
    text-align: center;
}

/* Psedo elements are  ::after, ::before , ::content, ::backdrop etc */
/* Psudo elements carry content for all the places the element for which it is determined*/
/* div::after{
    content: "Welcome to the demo"
} */