body {
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(18, 0fr);
    gap: 5px;
    justify-content: center;
}
.f-block {
    display: grid;
    margin-top: 35px;
    grid-template-columns: repeat(18, 0fr);
    gap: 5px;
    justify-content: center;
}

.box{
    height: 75px;
    width: 75px;
    border: 2px solid black; 
    /* background-color: cyan; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}
.ibox{
    height: 75px;
    width: 75px;
    /* border: 2px solid black;  */
}

.s-block {
  background-color: rgb(205, 87, 87);

}

.p-block {
  background-color: rgb(224, 224, 93);

}

.d-block {
  background-color: rgb(56, 186, 229);
}

.f-block {
  background-color: rgb(99, 220, 99);
}